{% extends 'base.twig' %}

{% block content %}
    <h1>
        Lista kategorii:
    </h1> 
	<hr>
	<br>
{#  {% if is_granted('ROLE_ADMIN') %} #}
	<h2>
	    <hr>
        <a href="{{ url('/categories/add') }}" class="btn btn-default" title="Add category">
            Dodaj nową kategorię
        </a>
    </h2>
{#	{% endif %} 
	<hr>
    {% for flashMessage in app.session.getFlashBag.get('message') %}
    <div class="alert alert-{{ flashMessage.type }}">
        {{ flashMessage.content }}
    </div>
    {% endfor %} #}
	
	{%  if categories|length > 0 %} 

        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nazwa kategorii</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
            {% for category in categories %}
                <tr>
                    <td>{{ category.id|e }}</td>
                    <td>
					    <a href="{{ url('/categories/view', {'id': category.id}) }}" title="View category">{{ category.name|e }}</a></td>
                    <td><div class="text-right">
					{# {% if is_granted('ROLE_ADMIN') %} #}
                        <a href="{{ url('/categories/edit', {'id': category.id}) }}" title="Edit category" class="btn btn-default">Edytuj kategorię</a>
                        <a href="{{ url('/categories/delete', {'id': category.id}) }}" title="Delete category" class="btn btn-default">Usuń kategorię</a>
                    {# {% endif %} #}  </div></td> 
                </tr>
            {% endfor %}
            </tbody>
        </table>
{#        <div class="text-center">
            {% if paginator.page > 1 %}
                {% set previous = (paginator.page - 1) %}
                <a href="{{ url('/categories/', {'page': previous}) }}" title="previous page"><img src="{{ app.request.basepath }}" alt="Previous" /></a>
            {%  endif %}

            {% if paginator.page < paginator.pagesCount %}
               {% set next = (paginator.page + 1) %}
               <a href="{{ url('/categories/', {'page': next}) }}" title="next page"><img src="{{ app.request.basepath }}" alt="Next" /></a>
            {% endif  %}
        </div>		#}
    {% else %} 
        <p>
            Nie znaleziono kategorii.
        </p>
    {% endif %} 
	<hr>
	
{% endblock %}