{% extends 'base.twig' %}

{% block content %}
    <h1>
        Lista wydawnictw:
    </h1> 
	<hr>
	<br>
{#  {% if is_granted('ROLE_ADMIN') %} #}
	<h2>
	    <hr>
        <a href="{{ url('/publishers/add') }}" class="btn btn-default" title="Add publisher">
            Dodaj nowe wydawnictwo
        </a>
    </h2>
{#	{% endif %} 
	<hr>
    {% for flashMessage in app.session.getFlashBag.get('message') %}
    <div class="alert alert-{{ flashMessage.type }}">
        {{ flashMessage.content }}
    </div>
    {% endfor %} #}
	
	{%  if publishers|length > 0 %} 

        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nazwa wydawnictwa</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
            {% for publisher in publishers %}
                <tr>
                    <td>{{ publisher.id|e }}</td>
                    <td>
					    <a href="{{ url('/publishers/view', {'id': publisher.id}) }}" title="View publisher">{{ publisher.name|e }}</a></td>
                    <td><div class="text-right">
					{# {% if is_granted('ROLE_ADMIN') %} #}
                        <a href="{{ url('/publishers/edit', {'id': publisher.id}) }}" title="Edit publisher" class="btn btn-default">Edytuj wydawnictwo</a>
                        <a href="{{ url('/publishers/delete', {'id': publisher.id}) }}" title="Delete publisher" class="btn btn-default">Usuń wydawnictwo</a>
                    {# {% endif %} #}  </div></td> 
                </tr>
            {% endfor %}
            </tbody>
        </table>
{#        <div class="text-center">
            {% if paginator.page > 1 %}
                {% set previous = (paginator.page - 1) %}
                <a href="{{ url('/publishers/', {'page': previous}) }}" title="previous page"><img src="{{ app.request.basepath }}" alt="Previous" /></a>
            {%  endif %}

            {% if paginator.page < paginator.pagesCount %}
               {% set next = (paginator.page + 1) %}
               <a href="{{ url('/publishers/', {'page': next}) }}" title="next page"><img src="{{ app.request.basepath }}" alt="Next" /></a>
            {% endif  %}
        </div>		#}
    {% else %} 
        <p>
            Nie znaleziono wydawnictw.
        </p>
    {% endif %} 
	<hr>
	
{% endblock %}